.tamanoLetras{
	font-size: 12px;
}

#myDIV {

  display: none;
	
}

/****************************************************************************************/

/*Origenes de las fuentes:*/

    @font-face{
        font-family:"Axaxax W05 Regular";
        src: url("Fonts/Axaxax/2d86daea-05b1-4a38-b3b1-37f23a85189b.woff2") format("woff2"),
        	 url("Fonts/Axaxax/a5f5da94-f920-46e3-8b2c-b3f1122b7c93.woff") format("woff");
    }

	@font-face {
	    font-family: 'neon_lightsregular';
	    src: url('Fonts/NeonLights/neonlights-22d-webfont.woff2') format('woff2'),
	         url('Fonts/NeonLights/neonlights-22d-webfont.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
}

/****************************************************************************************/

#caja {
    background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

.neon_effect {
  text-align: center;
  font-size: 5em;
  /*
  font-size: 8vw;
  margin: 50px;*/
  color: #fff;
  transition: all 0.4s;
  
}

.monoton {
  font-family: "Monoton";
  font-style: normal;
  font-weight: 400;
}

.axaxax{
  font-family:"Axaxax W05 Regular";
}

.neon-lights{
  font-family: "neon_lightsregular";
  font-weight: normal;
  font-style: normal;
}

/*Colores:*/
.rojo{
	animation: neon1 1.5s ease-in-out infinite alternate;
}

.azul{
	animation: neon2 1.5s ease-in-out infinite alternate;
}

.amarillo{
	animation: neon3 1.5s ease-in-out infinite alternate;
}

.verde{
	animation: neon4 1.5s ease-in-out infinite alternate;
}

.naranja{
	animation: neon5 1.5s ease-in-out infinite alternate;
}

.morado{
	animation: neon6 1.5s ease-in-out infinite alternate;
}

.turquesa{
	animation: neon7 1.5s ease-in-out infinite alternate;
}

.fucsia{
	animation: neon8 1.5s ease-in-out infinite alternate;
}

/*
.neon_effect p {
  text-align: center;
  font-size: 5vw;
  margin: 50px;
  transition: all 0.4s;
}

.neon_effect p:nth-child(1){
  color: #fff;
  font-family: Monoton;
  animation: neon1 1.5s ease-in-out infinite alternate;
}


.neon_effect p:nth-child(2){
  color: #fff;
  font-family: Lobster;
  animation: neon2 1.5s ease-in-out infinite alternate;
}
.neon_effect p:nth-child(3){
  color: #fff;
  font-family: Abril Fatface;
  animation: neon3 1.5s ease-in-out infinite alternate;
}
.neon_effect p:nth-child(4){
  color: #fff;
  font-family: Comfortaa;
  font-weight: 700;
  animation: neon4 1.5s ease-in-out infinite alternate;
}
.neon_effect p:nth-child(5){
  color: #fff;
  font-family: 'Do Hyeon';
  font-weight: bold;
  animation: neon5 1.5s ease-in-out infinite alternate;
}
.neon_effect p:nth-child(6){
  color: #fff;
  font-family: 'Notable', sans-serif;
  font-weight: bold;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

*/


@keyframes neon1 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 8px #FF1177, 0 0 9px #FF1177, 0 0 15px #FF1177, 0 0 20px #FF1177, 0 0 25px #FF1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 8px #228DFF, 0 0 9px #228DFF, 0 0 15px #228DFF, 0 0 20px #228DFF, 0 0 25px #228DFF;
  }

}

@keyframes neon3 {/*Amarillo*/
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 8px #FFDD1B, 0 0 9px #FFDD1B, 0 0 15px #FFDD1B, 0 0 20px #FFDD1B, 0 0 25px #FFDD1B;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 8px #B6FF00, 0 0 9px #B6FF00, 0 0 15px #B6FF00, 0 0 20px #B6FF00, 0 0 25px #B6FF00;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 8px #FF9900, 0 0 9px #FF9900, 0 0 15px #FF9900, 0 0 20px #FF9900, 0 0 25px #FF9900;
  }	
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 8px #ff00de, 0 0 9px #ff00de, 0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de;
  }	
}

@keyframes neon7 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #40e0d0, 0 0 35px #40e0d0, 0 0 40px #40e0d0, 0 0 50px #40e0d0, 0 0 75px #40e0d0;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 8px #40e0d0, 0 0 9px #40e0d0, 0 0 15px #40e0d0, 0 0 20px #40e0d0, 0 0 25px #40e0d0;
  }
}

@keyframes neon8 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e30052, 0 0 35px #e30052, 0 0 40px #e30052, 0 0 50px #e30052, 0 0 75px #e30052;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff, 0 0 8px #e30052, 0 0 9px #e30052, 0 0 15px #e30052, 0 0 20px #e30052, 0 0 25px #e30052;
  }
}